.sesb-blocked-show {
	background-color: lightcoral;
	outline: 2px solid lightcoral;
}

.sesb-block-div {
	color: crimson;
	font-weight: bold;
	font-size: 0.8em;
	padding: 4px 0;
}

.sesb-block-div button {
	cursor: pointer;
	background: none;
	border: none;
	color: darkred;
	padding: 0 4px;
}

.sesb-block-div button:hover {
	text-shadow: 1px 0px 2px lightcoral;
}

.sesb-unblock-div {
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	padding: 4px 0;
}

.sesb-unblock-div button {
	cursor: pointer;
	background: none;
	border: none;
	color: white;
	padding: 0 4px;
}

.sesb-unblock-div button:hover {
	text-shadow: 1px 0px 2px bisque;
}

.sesb-hidden {
	display: none;
}

.sesb-fix-height {
	height: auto !important;
}

:focus {
	outline: none;
}