body {
	font-family: sans-serif;
	color: darkorange;
}

img {
	width: 48px;
	padding-left: 15px;
	padding-top: 15px;
}

button {
	color: white;
	font-size: 1em;
	cursor: pointer;
	padding: 3px 14px 4px 14px;
	border: none;
	background-color: darkorange;
	border-radius: 1em;
}

button:hover {
	box-shadow: 0 2px 3px orange;
}

.dangerous {
	background-color: pink;
	color: crimson;
	margin-left: 4px;
}

.dangerous:hover {
	box-shadow: 0 2px 3px crimson;
}

ul {
	padding: 2px;
	list-style-type: none;
	width: 550px;
	max-height: 200px;
	min-height: 60px;
	background-color: antiquewhite;
	overflow: auto;
	cursor: default !important;
}

li {
	padding: 2px;
}

li span {
	color: crimson;
	cursor: pointer;
	margin-right: 5px;
	font-size: 0.8em;
	user-select: none;
}

li span:hover {
	text-shadow: 1px 0 2px lightcoral;
}

textarea {
	width: 450px;
	font-family: sans-serif;
	margin: -5px 0 15px 0;
}

.section {
	padding: 15px;
}

.subsection {
	padding: 0 0 15px 45px;
}

h3, h4, h5 {
	margin: 0;
}

.result-ok {
	color: green;
	font-weight: bold;
	display: none;
}

:focus {
	outline: none;
}
