.sesb-blocked-show {
	background: lightcoral !important;
	outline: 3px solid lightcoral !important;
}

.sesb-block-div, .sesb-unblock-div {
	color: firebrick;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	text-align: left;
	padding: 4px;
}

.sesb-block-div button, .sesb-unblock-div button {
	color: firebrick;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0 4px;
	line-break: anywhere;
	font-style: italic;
	font-weight: normal;
	font-family: sans-serif;
}

.sesb-block-div button:hover, .sesb-unblock-div button:hover {
	text-shadow: 0 0 2px firebrick;
}

.sesb-block-div button:focus, .sesb-unblock-div button:focus {
	outline: none;
}

.sesb-hidden {
	display: none !important;
}

.sesb-fix-height {
	height: auto !important;
}

.sesb-fix-image-size {
	position: relative !important;
}