body {
	font-family: sans-serif;
}

button {
	font-size: 0.9em;
	padding: 2px 6px;
	cursor: pointer;
}

.dangerous {
	background-color: pink;
	color: darkred;
	border-color: lightcoral;
}

ul {
	padding: 2px;
	list-style-type: none;
	width: 600px;
	max-height: 200px;
	min-height: 60px;
	background-color: #f5f5ef;
	overflow: auto;
	-webkit-box-shadow: 0 2px 3px #ceceb1 inset;
}

li {
	padding: 2px;
	cursor: pointer;
}

li:hover {
	color: red;
	text-decoration: line-through;
	background-color: pink;
}

textarea {
	width: 600px;
	font-family: sans-serif;
	margin-bottom: 15px;
}

.section {
	padding: 15px;
}

.title {
	margin-bottom: -4px;
}

.content {
	padding-left: 30px;
	line-height: 15px;
}

h3, h5 {
	margin: 0;
	color: darkorange;
}

h5 {
	padding-left: 15px;
}

img {
	padding-left: 15px;
	padding-top: 15px;
	margin-bottom: -10px;
}

.hidden {
	display: none;
}

.result-ok {
	color: green;
	font-weight: bold;
}