body {
	font-family: sans-serif;
	padding: 10px;
	width: 195px;
	text-align: center;
	cursor: default !important;
	line-height: 20px;
}

button {
	color: white;
	font-size: 1em;
	cursor: pointer;
	padding: 3px 14px 4px 14px;
	border: none;
	background-color: darkorange;
	border-radius: 1em;
}

button:hover {
	box-shadow: 0 2px 3px orange;
}

h3 {
	margin: 0;
	color: darkorange;
	text-align: center;
}

span {
	display: inline-flex;
	margin-left: 4px;
}

.settings {
	text-align: left;
}

.switch input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.switch {
	display: inline-block;
	height: 0.8em;
	width: 1.6em;
	background: bisque;
	border-radius: 1em;
	cursor: pointer;
}

.switch div {
	height: 0.8em;
	width: 0.8em;
	border-radius: 0.8em;
	background: black;
}

.switch input:checked + div {
	transform: translate3d(100%, 0, 0);
	background: darkorange;
}

:focus {
	outline: none;
}

.hidden {
	opacity: 0.5;
}